.layout {
  background-color: #f5f5f5;
  font-family: Arial;
  overflow: hidden;
}

.header {
  display: flex;
  border: 1px solid #ebeef6;
}

.logo {
  width: 208px;
  height: 48px;
  background: #fff;
  color: #177eff;
  padding-left: 24px;
  font-size: 24px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.headerLeft {
  background: #fff;
  padding-left: 44px;
  padding-top: 10px;
  font-size: 24px;
  width: 100%;
}

.main {
  display: flex;
  align-items: stretch;
}

.sidebar {
  background: #fff;
  color: #177eff;
  width: 208px;
}

.board {
  background: #fff;
  font-size: 24px;
  width: 100vw;
  margin: 20px;
  border-radius: 8px;
}

ul.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

ul.list li {
  width: 184px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #111111;
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-family: "Arial";
  font-weight: 400;
  background: #f5f6fa;
  border-radius: 8px;
  margin: 36px 12px 0px 12px;
  padding: 10px;
}
