.mainBox {
  padding: 16px 24px;
}

.search {
  width: 432px;
  height: 36px;
  background: #f5f6fa;
  border-radius: 8px;
  border: none;
  padding-left: 24px;
}

.search::placeholder {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;

  color: #667281;
}

.search:focus {
  outline: none !important;
}

.searchIcon {
  position: relative;
  top: 10.5px;
  right: 30.5px;
  color: #667281;
}

.btnCreate {
  position: absolute;
  width: 163px;
  height: 36px;
  right: 35px;
  top: 86px;
  border: none;
  background: #177eff;
  border-radius: 8px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

.btnCreate:hover {
  cursor: pointer;
}

.filter {
  display: flex;
  margin-top: 12px;
  width: 600px;
}
.options {
  width: 144px;
  height: 36px;
  background: #f5f6fa;
  border-radius: 8px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* padding: 10px 0px 10px 12px; */
}

.options:hover {
  background: #177eff;
  cursor: pointer;
  color: #fff;
}

.badge {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  background: #b2c2df;
  border-radius: 46px;
  color: #ffffff;
  padding: 4px 8px 4px 8px;
  float: right;
  margin-right: 12px;
}
